<h1>Page d'accueil de l'application Resto</h1>
<h2>Liste des différents restaurants</h2>

<% @restaurants.each do |restaurant| %>
<ul>Nom : <%= restaurant.name %>
<li>Adresse : <%= restaurant.address %></li>
<li><%= link_to 'More info', restaurant_path(restaurant.id) %> / <%= link_to "Ajouter une review sur ce restaurant", new_restaurant_review_path(restaurant.id)%>  / <%= link_to "Accéder aux reviews", restaurant_reviews_path(restaurant.id)%> </li>
</ul>
<% end %>

<%= link_to 'Add a restaurant', new_restaurant_path %>
