<h1>Détail de <%= @restaurant.name %></h1>

<p>Adresse : <%= @restaurant.address %></p>
<p>Numéro : <%= @restaurant.phone %></p>
<p>Type de cuisine : <%= @restaurant.category %></p>
<%= link_to "Retour à l'accueil", root_path %>
